table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-size: 2em;
    color: #333;
}

input {
    width: 30;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 20;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    
}

button:hover {
    background-color: #45a049;
}

a {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    color: #333; /* Cor do texto */
}
  
a:hover {
    background-color: #e0e0e0; /* Cor de fundo cinza um pouco mais clara no hover */
}
  
  
  